* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #0f1c2e;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}